---
pagination:
  data: posts
  size: 1
  alias: posts
permalink: 'posts/{{ posts.title.rendered | slug }}/'
layout: post
---

<h1 class="gradient-text">{{ posts.title.rendered }}</h1>

{{ posts.content.rendered | safe }}
