---
pagination:
  data: posts
  size: 1
  alias: posts
permalink: 'posts/{{ posts.title.rendered | slug }}/'
layout: page
---

<h1 class="gradient-text">{{ posts.title.rendered }}</h1>
<div class="mainContent">
  {{ posts.content.rendered | safe }}
</div>
